body,div,form,label,h1,h2,h3,input,hr{
  margin: 0;
  padding: 0;
}
.main{
  width: 500px;
  height: 300px;
  margin: 100px auto;
  border: 1px solid #333;
}
.main h2{
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: seagreen;
}
.main form{
  width: 90%;
  margin: 0 auto;
}
.main form div{
  height: 40px;
  margin-top: 20px;
}
.main form div label{
  display: inline-block;
  width:100px;
  text-align: right;

}
.main form div input{
  width: 300px;
  height: 30px;
  font-size: 16px;
  outline: none;
  border:  1px solid skyblue;
}
.main form div input[type="submit"]{
  display: block;
  width: 100px;
  height: 40px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  color: peru;
  border: 0;
  background-color: greenyellow;
  cursor: pointer;
}